/*-----------------------------------------------------------------------------------*/
/* Theme Options Editor Style
/*-----------------------------------------------------------------------------------*/

.media-frame-content .fw-backend-option .fw-clear {
	clear: none!important;
}

.media-frame-content .fw-backend-option .fw-backend-option-label {
	width: 25%!important;
}

.media-frame-content .fw-backend-option .fw-backend-option-desc {
	margin-left: 0!important;
	width: 21%!important;
	color: #9e9e9e;
	font-size: 14px;
}

.media-frame-content .fw-backend-option .fw-backend-option-input {
	float: right!important;
	width: 75%!important;
}

.media-frame-content .fw-backend-option-type-mailer .fw-backend-option-input,
.media-frame-content .fw-backend-option-type-form-builder .fw-backend-option-input,
.media-frame-content .fw-backend-option-type-table .fw-backend-option-input {
	float: none!important;
	width: 100%!important;
}

.media-frame-content .fw-backend-option-type-table .fw-backend-option-type-select {
	display: none!important;
}

.media-frame-content .fw-backend-option:after {
	clear: both;
	display: block;
	content: "";
}

.fw-modal-medium .media-frame-content .fw-backend-option .fw-backend-option-label {
	width: 28%!important;
}

.fw-modal-medium .media-frame-content .fw-backend-option .fw-backend-option-desc {
	width: 25%!important;
}

.fw-modal-medium .media-frame-content .fw-backend-option .fw-backend-option-input {
	width: 72%!important;
}

.media-frame-content .fw-backend-option-type-multi-picker > .fw-backend-option-input,
.media-frame-content .fw-backend-option-type-multi-picker > .fw-backend-option-input .fw-backend-option-input-type-multi,
.fw-modal-medium .media-frame-content .fw-backend-option-type-multi-picker > .fw-backend-option-input,
.fw-modal-medium .media-frame-content .fw-backend-option-type-multi-picker > .fw-backend-option-input .fw-backend-option-input-type-multi {
	width: 100%!important;
}

.sh-builder-option-image {
	background-color: #ccc;	
}

.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Bullet list"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Numbered list"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Blockquote"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Horizontal line"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Insert/edit link"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Remove link"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Insert Read More tag"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Fullscreen"],
.sh-heading-sc-editor .mce-toolbar .mce-widget[aria-label="Toolbar Toggle"],
.sh-heading-sc-editor .mce-toolbar:nth-child(2) .mce-widget:not(.mce-colorbutton) {
	display: none;
	opacity: 0;
}

.sh-heading-sc-editor .mce-toolbar {
	display: inline-block;
}

#fw-backend-option-fw-edit-options-modal-data_provider-population_method {
	display: none;
}

#fw-backend-option-fw-edit-options-modal-data_provider{
	padding-top: 0;
}

.pb-item-type-simple b {
	color: #23282d;
}


/* Shortcodes Layout */
.fw-options-tabs-contents .fw-option-type-builder-thumbnails-tab:last-child .builder-item-type:nth-child(-n+6) p > span {
	font-weight: 600;
}

.fw-option-type-builder > .builder-root-items > .builder-items span.fw-ext-builder-icon {
	width: 40px!important;
	height: 40px;
	line-height: 40px;
	font-size: 26px!important;
	display: inline-block;
	position: absolute!important;
	left: 10px; top: 4px!important;
}

.builder-item .pb-item-type-simple {
	padding-left: 46px;
	font-weight: 600;
	color: #23282d;
}

.sh-builder-item-desc {
	padding-top: 1px;
	font-weight: normal;
	color: #8d8d8d;
}

.sh-builder-item-desc img {
	padding-top: 4px;
}

.sh-builder-item-desc .sh-heading-sc-content {
	padding-top: 6px;
	color: #787878!important;

}

.sh-builder-item-desc .sh-heading-sc-content * {
	color: #787878!important;
}

.sh-builder-item-desc .sh-heading-sc-content p {
	font-size: 18px;
	line-height: 1;
	text-align: left!important;
	margin: 0;
}

.fw-option-type-builder span.fw-ext-builder-icon {
	font-size: 18px!important;
}

@media (max-width: 1280px) {

	.fw-option-type-builder > .builder-root-items > .builder-items span.fw-ext-builder-icon {
		width: 20px!important;
		height: 20px!important;
		line-height: 20px!important;
		font-size: 16px!important;
		top: 14px!important;
		left: 8px!important;
	}

	.builder-item .pb-item-type-simple {
		padding-left: 30px;
	}

}

@media (max-width: 1025px) {

	.fw-option-type-builder > .builder-root-items > .builder-items span.fw-ext-builder-icon {
		width: 16px!important;
		height: 16px!important;
		line-height: 16px!important;
		font-size: 13px!important;
		top: 17px!important;
		left: 5px!important;
	}

	.builder-item .pb-item-type-simple {
		padding-left: 22px;
	}

}