.col-1-2 {width:50%; }
.col-1-3 {width:33.33%; }
.col-2-3 {width:66.66%; }
.col-1-4 {width:25%; }
.col-3-4 {width:75%; }
.col-1-5 {width:20%; }
.col-2-5 {width:40%; }
.col-3-5 {width:60%; }
.col-4-5 {width:80%; }
.col-1-8 {width:12.5%;}
.col-7-8 {width:87.5%;}
.col-1-6 {width:16.66%;}
.col-5-6 {width:83.3%;}

.left {float:left;}
.right {float:right;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.h-scroll {margin:0; padding:0;}
.required {display:inline-block; margin:0; padding:0 5px; font-weight:bold; color:#eb6e1f; }


/* --- Topic Nav --- */
.topic-header {margin:0 0 20px 0; padding:0 0 0px 0; border-bottom:1px solid #ccc;}
.topic-header h2 {font:500 52px/56px 'Titillium Web', sans-serif; letter-spacing:-1px; margin:0 0px 15px 0px; color:#444;}
.topic-header img.pub-logo {width:auto; height:50px;}
.topic-nav {margin:0; padding:0;}
.topic-nav a {margin:0 30px 0 0; padding:10px 0; font:500 16px/18px "open-sans", sans-serif; color:#444; display:block; float:left; border-bottom:3px solid #fff; }
.topic-nav a:hover {color:#0079c2; border-bottom:3px solid #0079c2; cursor: pointer;}
.topic-nav a.active {color:#0079c2; border-bottom:3px solid #0079c2;}
.topic-control .action a {margin-top:20px;}

.topic-share {padding-top:10px;}
.topic-share a.button { font-family: 'open-sans', HelveticaNeue, sans-serif; background-color:#fff; color:#333; display:inline-block; margin:0 0 6px 6px; padding:6px 12px; text-decoration:none; border:2px solid #ddd; border-radius:4px;}
.topic-share a.button:hover {font-family: 'open-sans', HelveticaNeue, sans-serif; background-color:#bbb; color:#fff; border:2px solid #bbb; }
.topic-share a.button .label { font-family: 'open-sans', HelveticaNeue, sans-serif; margin:0px 0 0 6px; white-space:nowrap; display:inline-block; vertical-align:top; zoom:1; font-size:14px; font-weight:100; text-transform:uppercase;}
.topic-share a.button i {position:relative; top:2px; display:inline-block; width:16px; height:16px; background:transparent 0 0 no-repeat; background-position:50% 50%; background-size: 150%;}
.topic-share a.rs i {background-image: url('../images/control-rs.png');}
.topic-share a.fo i {background-image: url('../images/control-fo.png');}
.topic-share a.sh i {background-image: url('../images/control-sh.png');}

.topic-sub-nav {display:block;}
.topic-sub-nav a {margin:0 30px 0 0; padding:10px 0; font:500 16px/18px "open-sans", sans-serif; color:#444; display:block; float:left; border-bottom:3px solid #fff;}
.topic-sub-nav a:hover {color:#0079c2; border-bottom:3px solid #0079c2; cursor: pointer;}
.topic-sub-nav a.active {color:#0079c2; border-bottom:3px solid #0079c2;}
.topic-sub-nav a.menu-item {margin:0 20px 0 0; padding:10px 0;}
.topic-sub-nav a.menu-item i {position:relative; top:2px; display:inline-block; width:0px; height:18px;  background-position:50% 50%; background-size: 100%;}
.topic-sub-nav a.menu-item.home i {margin:0 7px; width:14px; height:18px; background:transparent url('../images/control-home.png') 50% 50% no-repeat; background-size:100%;}
.topic-sub-nav a.menu-item.home.active i {background-image:url('../images/control-home-active.png');}
.topic-sub-nav a.menu-item.home:hover i {background-image:url('../images/control-home-active.png');}
.topic-sub-nav a.menu-item .label {margin:0; white-space:nowrap; display:inline-block;}

.brand-name img {margin:0 0 5px 0; padding:0; height:56px;}

.jump-nav select {display:none;}

ul.sub-topics {list-style:none; margin:0 0 15px 0; padding:0;}
ul.sub-topics li {list-style:none; margin:0 10px 20px 0; padding:0; display:inline-block; float:none;}
ul.sub-topics li span {margin:0 10px 0 0; padding:0; font-size:13px; font-weight:400; color:#999; text-transform:uppercase;}
ul.sub-topics li a {margin:0 0 0 0; padding:6px 12px; color:#333; background:#efefef; border-radius:4px;}
ul.sub-topics li a:hover {color:#fff; background:#333;}
ul.sub-topicss li:after {content:",  ";}
ul.sub-topicss li:first-child:after {content:"";}
ul.sub-topicss li:last-child:after {content:"";}

.wrapper {width:1180px; margin:0 auto; padding:0; clear:both;}
.main-content {width:850px; margin:0 0 20px 0; padding:0;}
.sidebar {width:300px; margin:0 0 20px 0; padding:0;}

.newswire-mkt-nav {
   margin: 0 0 30px 0;
   padding: 0;
   text-align: center;
}
.newswire-mkt-nav a {
   margin: 0 5px 0 0;
   padding: 10px 20px;
   font: 400 16px/20px "open-sans", sans-serif;
   color: #fff;
   text-transform: none;
   text-align: center;
   display: inline-block;
   width: auto;
   float: none;
   border-radius: 8px;
   background: #000;
   cursor: pointer;
}
.newswire-mkt-nav a:hover {
   color: #fff;
   border-bottom: none;
   text-decoration: none;
   background: #EC1C23;
}
.newswire-mkt-nav a.active {
   color: #fff;
   border-bottom: none;
   text-decoration: none;
   background: #EC1C23;
}

.pricing-box:after {
   border-color: rgba(136, 183, 213, 0);
   border-bottom-color: #e7e8ea;
   border-width: 20px;
   margin-left: -11px;
}

.Pricing-link{
   padding: 10px 50px;
   display: table;
   background: #4d4e65;
   color: #FFF;
   text-align: center;
   margin-bottom: 20px;
   transition: all .4s;
   margin: 0 auto;
   margin-top: 30px;
   border: 0px;

}
.Pricing-link:hover{text-decoration:none; color:#FFF;background: #71717f;}


/* Updated Search Results/Article List Page search/sort styling */
.search-control {}
.search-control .search {margin:0 0 15px 0; padding:0; border:none; background:; position:relative;}
.search-control .search input.search {width:98%; padding:11px 0; margin:0; font-size:16px; border:3px solid #ddd; color:#7d7d7d; text-indent:40px; border-radius:4px; transition:0.25s ease-in-out; background:#fff url('../images/event-search.png') no-repeat top left;}
.search-control .search input.search:focus {width:98%; transition:0.25s ease-in-out;}
.search-control .search input.submit {padding:10px 20px 10px 20px; margin:0; border:none; font:800 16px "open-sans", sans-serif; color:#fff; border:2px solid #0079c2; background-color:#0079c2; border-radius:4px; position:absolute; top:0; right:0;}
.search-control .search input.submit:hover {background:#043f77; border:2px solid #043f77;}

.search-control .filter {margin:0 0 30px 0; float:left;}
.search-control .sort {margin:0 0 30px 0; float:right;}
.search-control .sort span {font-size:13px; font-weight:400; color:#999; text-transform:uppercase; margin-top:5px;}
.search-control .sort select.filter-dropdown {padding:6px; margin:0 0 0 10px; font-size:14px; background-color:#fff; border:2px solid #ccc; color:#444; border-radius:4px;}
.search-control #filtering { margin:0 0 15px 0; padding:15px 20px; background:#efefef;}

.search-control ul#content-filters {list-style:none; margin:0px 0 0 0; padding:0;}
.search-control ul#content-filters li {list-style:none; margin:0; padding:0; display:inline-block; float:left; margin:0 6px 0 0; padding:0;}
.search-control ul#content-filters li select {padding:6px; margin:0 10px 10px 0; font-size:14px; background-color:#fff; border:2px solid #ddd; color:#444; border-radius:4px; }

.search-control ul#date-filters {list-style:none; margin:15px 0 0 0; padding:0;}
.search-control ul#date-filters li {list-style:none; margin:0; padding:0; display:block; width:50%; float:left;}
.search-control ul#date-filters li input {width:98%; padding:11px 0; margin:0 0 15px 0; font-size:14px; border:3px solid #ddd; color:#7d7d7d; text-indent:40px; border-radius:4px; transition:0.25s ease-in-out; background:#fff url('../images/date-search-small.png') no-repeat top left;}

.search-control input[type=radio].css-checkbox {position: absolute;z-index: -1000;left: -1000px;overflow: hidden;clip: rect(0 0 0 0);height: 1px;width: 1px;margin: -1px;padding: 0;border: 0;}
.search-control input[type=radio].css-checkbox + label.css-label {padding-left:27px; padding-right:27px; height:17px; display:inline-block;/*font-size: 22px;*/line-height: 17px;background-repeat: no-repeat;background-position: 0 0;vertical-align: middle;cursor: pointer;}
.search-control input[type=radio].css-checkbox:checked + label.css-label {background-position: 0 -17px;}
.search-control label.css-label {background-image: url('../images/email-checkbox-white.png'); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.loadingList {
   display: none;
   padding-left:15px;
   color: #0079C2;
   font-weight: bold;
}