
@media screen and (min-width:991px) and (max-width:1169px)
{
.main-menus ul li a{ font-size:14px;}
.main-menus ul li{padding: 0 10px;}
.slider .carousel-caption{ left:25%; right:25%; padding:28px 15px;}
.slider .carousel-caption p {color: #fff; font-size: 19px; line-height: 27px; margin-bottom: 20px;}
.slider .carousel-caption h1 {font-size: 40px; margin-bottom: 19px;}
.slider .carousel-caption a.btn{ font-size:18px;}
.slider .carousel-caption a.btn{ padding:10px 5px;}
.carousel-indicators {bottom: 10px;}
.grey-section .box p{ font-size:15px;}
.grey-section .box h1{ font-size:19px;}
.copyright ul li{ font-size:18px;}
.copyright{ font-size:17px;}
.footer .followus {padding-top: 49px;}
.footer .followus h3{ font-size:17px;}
.latest-press-section img{ max-width:100%; height:auto;}
.Resources{ padding:0px;}
.Pricing {    padding:0px;     padding-bottom: 30px;}
.form-box{ padding:0px;} 
.grey-section .box h1 {
	margin-top:20px
}
.latest-press-section h3 {

    margin-top: 20px;
}
}

@media screen and (min-width:768px) and (max-width:990px)
{
.main-menus ul li a{ font-size:11px;}
.main-menus ul li{padding: 0 10px;}
.slider .carousel-caption{ left:25%; right:25%; padding:28px 15px;}
.slider .carousel-caption p {color: #fff; font-size: 16px; line-height: 27px; margin-bottom: 20px;}
.slider .carousel-caption h1 {font-size: 30px; margin-bottom: 19px;}
.slider .carousel-caption a.btn{ font-size:14px;}
.slider .carousel-caption a.btn{ padding:10px 5px;}
.carousel-indicators {bottom: -12px;}
.grey-section .box p{ font-size:15px;}
.grey-section .box h1{ font-size:19px;}
.copyright ul li{ font-size:13px;}
.copyright{ font-size:14px;}
.footer .followus {padding-top: 49px;}
.footer .followus h3{ font-size:17px;}
.Resources{ padding:0px;}
.Pricing {    padding:0px;    padding-bottom: 30px;}
.form-box{ padding:0px;} 
.grey-section .box h1 {
	margin-top:20px
}
.latest-press-section h3 {

    margin-top: 20px;
}
}


@media screen and (min-width:320px) and (max-width:767px)
{
img{ max-width:100%; height:auto; }
.topsection .pull-right {float: none !important; text-align: center;}	
.content-box-right:before{ display:none;}
.content-box-left:before{ display:none;}
.grey-section .box .content-box-right{ position:relative;padding: 2px 20px; width: auto;}
.grey-section .box .content-box-left{ position:relative;padding: 2px 20px; width: auto;}
.latest-press-section .col-md-3 img{max-width:100%; height:auto; width:100%;}
.footer .col-md-2 ul {border-top: 1px solid; margin-top: 16px; padding-left: 0; padding-top: 17px;}
.footer .followus {border-top: 1px solid; margin-top: 14px; padding-top: 4px;}
.copyright{ text-align:center;}
.copyright ul {float: none; padding-top: 23px; text-align: center;}
.copyright ul li {display: inline-block; float: none;text-align: center; margin-left:12px; font-size:16px;}
.slider .carousel-caption{ position:relative; left:0; right:0px; padding: 18px 15px 70px;}
.slider .carousel-caption p {color: #fff; font-size: 16px; line-height: 27px; margin-bottom: 20px;}
.slider .carousel-caption h1 {font-size: 30px; margin-bottom: 19px;}
.slider .carousel-caption a.btn{ font-size:14px;}
.Resources{ padding:0px;}
.Pricing {    padding:0px;     padding-bottom: 30px;}
.form-box{ padding:0px;} 
.grey-section .box h1 {
	margin-top:20px
}
.latest-press-section h3 {

    margin-top: 20px;
}
}