/* CSS Document */

/* Reset */
a, abbr, acronym, address, area, b, bdo, big, blockquote, body, button, caption, cite,
code, col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, html, i, images, ins, kbd, label, legend, li, map, object, ol, p, param, pre,
q, samp, small, span, strong, sub,  table, tbody, td, textarea, tfoot, th, thead,
tr, tt, ul, var {margin:0;padding:0;vertical-align:baseline;}

/* Defaults */
:focus {outline:0}
abbr, acronym, dfn {border-bottom:1px dotted;cursor:help}
blockquote {  background-repeat:no-repeat; background-position:left 9px; padding:65px 15px; text-align:center;  }

blockquote p{ font-size:22px; color:#3f3f3f; line-height:34px;font-family:'Raleway'; font-style:italic; position:relative}

code, pre {font-size:1em}
del {text-decoration:line-through}
dfn {font-style:italic;font-weight:bold}
dt {font-weight:bold}
dd {margin:0 0 1em 10px}
fieldset {border:0}
fieldset p {margin:0 0 5px}
img {border:0;vertical-align:bottom}
ins {text-decoration:none}
hr {margin:0 0 0.5em}
textarea {font:1em Arial;overflow:auto}
tt {display:block;margin:0.5em 0;padding: 0.5em 1em}
strong{margin-right:0px;}


/****** Common Classes ******/

.clear{ display:block; clear:both; line-height:0;}
.space { display:block; clear:both; height:30px;}
.dspace { display:block; clear:both; height:22px;}

@font-face {
    font-family:'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
}
html{margin:0px; padding:0px;}

body{margin:0px; padding:0px; font-family:"Raleway",Arial, Helvetica, sans-serif; font-size:18px; color:#000; background:#fff; }

/******************* wrapper ***********************/

.wrapper{ background-color:#fff; width:100%; display:block;}

/******************* Header ***********************/

.header {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.118); clear:both; width:100%; float:left; position:relative; z-index:9999;}
.topsection{ background-color:#e7e8ea; padding:5px 0;}
.topsection span{ font-family:"Raleway"; font-size:16px; color:#383838; text-transform:uppercase; background-image:url(../images/rigister_icon.png); background-repeat:no-repeat; background-position:left; padding-left:22px;}
.topsection span a{color:#383838;}
.logo{ padding-top:5px; padding-bottom:2px;}
.main-menus{ clear:both; width:100%;}
.main-menus ul{ display:block; padding:32px 0; float:right; margin-bottom:0px;}
.main-menus ul li{ list-style:none; float:left; border-left:1px solid #4c4c4c; padding:0 15px; text-transform:uppercase; line-height:12px;text-shadow: 0 0;}
.main-menus ul li a:hover{ color:#161616; text-decoration:underline;}
.main-menus ul li a{ color:#4c4c4c; text-decoration:none; font-size:16px;}
.main-menus ul li:first-child{ border-left:0px;}
.main-menus ul li:last-child{ padding-right:0px;}

/******************* slider ***********************/

.slider .carousel-caption{ left:30%; right:30%; background-image:url(../images/slider_content_bg.png); background-repeat:repeat; top:0; height:100%; padding:20px 15px 20px 15px;}
.slider .carousel-caption p{ text-transform:uppercase; font-size:18px; color:#fff; line-height:0px; margin-bottom:40px; }
.slider .carousel-caption h1{ margin-bottom:30px;font-size:46px; text-transform:uppercase;}
.slider .carousel-caption h4{ margin-bottom:30px; font-size:30px; text-transform:uppercase; line-height:45px}
.slider .carousel-caption a.btn{ background:none; border:2px solid #fff; display:block; text-align:center; padding:15px 5px; color:#fff; text-transform:uppercase; font-size:20px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;    transition: all .4s;}
.slider .carousel-caption a.btn:hover{ background:#71717f;}
.slider .carousel-caption a.btn-a{ background:#71717f; border:2px solid #fff; display:block; text-align:center; padding:15px 5px; color:#fff; text-transform:uppercase; font-size:20px;border-bottom-left-radius:10px;border-bottom-right-radius:10px; margin-bottom:15px; text-decoration: none;     transition: all .4s;}

.slider .carousel-caption a.btn-a:hover{ background:none;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img{ margin:0 auto; width:100%; height:auto;}

.grey-section{ background:#f0f0f2; padding:50px 0; clear:both;}
.grey-section .box{ background:#fff; margin-bottom:20px; float:left; display:block; width:100%; position:relative;overflow:hidden;}
.grey-section .box .alignleft{ float:left; display:block; }
.grey-section .box .alignright{ float:right; display:block;}
.grey-section .box .content-box-right{ float:right; padding:35px 20px 35px 0px; background-color:#fff; width:43%; position:absolute; top:0; right:0; height:100%;}
.grey-section .box .content-box-left{ float:right; padding:35px 0 35px 30px; background-color:#fff; width:43%; position:absolute; top:0;  left:0;height:100%;}
.grey-section .box h1{ text-transform:uppercase; color:#3f3f3f; font-size:22px; margin-bottom:17px; position:relative; font-weight:normal;font-family:'Raleway';}
.grey-section .box p{ font-size:18px; color:#575757; line-height:normal; position:relative; font-family:'Raleway';}
.grey-section .box a.more-link{ font-weight:bold; font-family:'Raleway'; font-style:italic; color:#4d4e65;}

.content-box-right::before { background: #fff none repeat scroll 0 0; bottom: 0; content: ""; height: 128%; left: -99px; position: absolute; top: 0; transform: rotate(30deg); width: 155px;}
.content-box-left:before { background: #fff none repeat scroll 0 0; bottom: 0; content: ""; height: 128%; right: -99px; position: absolute; top: 0; transform: rotate(-30deg); width: 155px;}
.latest-press-section{ padding-bottom:70px;}
.latest-press-section h1{ text-align:center;  margin-bottom:30px; color:#4d4e65; margin-top:0px; font-size:35px; font-family:'Raleway'; font-weight:bold;}
.latest-press-section h3{ margin-bottom:14px; color:#4d4e65; font-size:24px; font-weight: bold; font-family:'Raleway'; margin-top: 20px;     min-height: 54px;}
.latest-press-section p{ margin-bottom:30px; color:#575757;font-size:15px; line-height:20px;     min-height: 84px;}
.latest-press-section a.more-link{ font-weight:bold; font-family: 'Raleway'; color:#4d4e65;}
a.viewall{ float:right; color:#3f3f3f; position:relative; font-size:20px;padding-right: 14px;}
a.viewall:after {border-bottom: 6px solid transparent; border-left: 6px solid; right:0; border-top: 6px solid transparent; content: ""; position: absolute; top:4px;}

/******************* footer ***********************/

.footer{ background-color:#e7e8ea; padding:20px 0 0; clear:both; width:100%; float:left;}
.footer .col-md-2 ul{ padding-top:70px; padding-left:30px;}
.footer .col-md-2 ul li{ list-style:none; margin-bottom:5px;}
.footer .col-md-2 ul li a{ color:#5e5e5e;  font-size:18px;}
.footer  .followus h3{color:#4d4e65; font-size:27px;}
.footer  .followus{ padding-top:70px;}
.footer p{ color:#5e5e5e; font-size:17px;}
.footer a:hover{ text-decoration:underline;}

.copyright{ border-top:3px solid #b1b2b5; padding-top:25px; padding-bottom:25px; color:#575757; font-size:17px; margin-top:50px;}
.copyright ul{ float:right;}
.copyright ul li{ list-style:none; float:left; margin-left:25px;color:#575757; font-size:20px;}
.copyright ul li a{ color:#7a7a7a; text-decoration:none;}
.followus a {color: #5e5e5e; font-size: 33px; margin-right: 10px;}
/******************* Resources ***********************/
.Resources{ padding:0px 100px;}
.Subcribe-link { padding: 10px;
    display: block;
    background: #4d4e65;
    color: #FFF;
    text-align: center;margin-bottom: 20px; transition: all .4s;}
	.Subcribe-link:hover{background: #71717f; color:#FFF; text-decoration: none;}
	
/******************* Google Ad Release ***********************/	
.GoogleAd  { background:#f0f0f2; padding:35px 10px;}
.GoogleAd h1{ text-align:center;  margin-bottom:30px; color:#4d4e65; margin-top:0px; font-size:35px; font-family:'Raleway'; font-weight:bold;}
	.GoogleAd p {
    margin-bottom: 16px;
    color: #575757;
    font-size: 15px;
    line-height: 20px;
	font-family:'Raleway';
}
.GoogleAd  p a{ color:#4d4e65; text-decoration:none}
.GoogleAd  p a :hover{ color:#000;}

/******************* Pricing ***********************/
.Pricing {    padding: 50px 100px;}
.Pricing h1{ text-align:center;  margin-bottom:30px; color:#4d4e65; margin-top:0px; font-size:35px; font-family:'Raleway'; font-weight:bold;}
	.Pricing p {
    margin-bottom: 16px;
    color: #575757;
    font-size: 16px;
    line-height: 20px;
	font-family:'Raleway';
}
.Pricing h4{text-align:center;  margin-bottom:30px; color:#4d4e65; margin-top:0px; font-size:18px; font-family:'Raleway'; font-weight:bold; margin-top:20px}
.pricing-box {     background: #e7e8ea;
    padding: 30px 30px 25px 30px;
    text-align: center; position:relative;    min-height: 200px; margin-bottom:20px}
	.pricing-box strong{ line-height: 60px;}
.pricing-box:after, .pricing-box:before {
	bottom: 100%;
	left: 49%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.pricing-box:after {
	    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #e7e8ea;
    border-width: 20px;
    margin-left: -11px;
}

.Pricing-link{
    padding: 10px 50px;
    display: table;
    background: #4d4e65;
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
    transition: all .4s;
    margin: 0 auto;
    margin-top: 30px;
    border: 0px;
	
}
.Pricing-link:hover{text-decoration:none; color:#FFF;background: #71717f;}


/******************* Contact ***********************/

.Contact{ background:#aeaeae; text-align:center ; padding: 50px }
.Contact h1{ text-align:center;  margin-bottom:30px; color:#4d4e65; margin-top:0px; font-size:35px; font-family:'Raleway'; font-weight:bold;}
	.Contact p {
    margin-bottom: 16px;
    color: #4d4e65;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Raleway';
}
.form-box { padding:0px 100px; margin-top: 20px;}
.Contact input{ height:43px;     font-size: 17px;}
.Contact select{ font-size: 17px; height:43px;}
.Contact textarea{ height:220px;     font-size: 17px;}

.btn-default {padding: 10px 60px;
    display: inline-block;
    background: #4d4e65;
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
    transition: all .4s;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 16px;
    border: none;
    border-radius: 0;}
	
	.btn-default:hover {
    color: #333;
    background: #71717f;
    border-color: #ccc;
}


#loaderText {
   color: #a94442;
   display: none;
}
.ajax_loader {
   display: none;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   width: 60px;
   height: 60px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

label {
   font-weight: normal;
}









/* --- Follow It --- */
#followit-overlay {z-index:11000;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(3,3,3,0.75);}
#followit-overlay img.close {position:absolute; top:20px; right:20px; width:26px; cursor:pointer;}

.followit {width:640px;margin:130px auto 0 auto; padding:30px 30px 20px 30px; background-image:linear-gradient(180deg, #e5e5e5, #efefef); border-radius:8px; position:relative; box-shadow: 0px 5px 15px rgba(8,8,8,0.8);}
.followit .inner {margin:0; padding:0; text-align:center;}
.followit .inner h2 {margin:0 0 15px 0; font: 800 36px/36px 'proxima-nova', sans-serif; color:#333; text-transform:capitalize;}
.followit .inner h4 {margin:0 0 15px 0; padding:0; font:800 18px/18px 'proxima-nova', sans-serif; color: #0079c2; text-transform:uppercase;}
.followit .inner p {}
.followit .inner p.small-copy {font-size:15px; line-height:18px; color:#777;}
.followit .inner a {}
.followit .inner a.button {margin:10px 0; padding:10px 20px; font:700 18px/20px "proxima-nova", sans-serif; color:#fff; background:#0079c2; text-decoration:none; border-radius:4px; display:inline-block;}
.followit .inner a.button:hover {background:#043f77;}

.followit .inner a.button.now {color:#fff; background:#0079c2;}
.followit .inner a.button.now:hover {background:#043f77;}

.followit .inner a.button.later {margin:10px 0 10px 20px;;color:#444; background:#fff; cursor:pointer;}
.followit .inner a.button.later:hover {background:#ccc;}


.followit input {
   margin: 0 0 10px 0;
   padding: 10px 0;
   width: 65%;
   height: 20px;
   border-radius: 0;
   text-indent: 10px;
   border: 1px solid #ccc;
   display: inline-block;
   font-size: 14px;
   line-height: 20px;
   color: #555;
   vertical-align: middle;
   border-radius: 4px;
}
.followit select {
   margin: 0 0 10px 0;
   padding: 10px 0;
   width: 65%;
   height: auto;
   border-radius: 0;
   text-indent: 10px;
   border: 1px solid #ccc;
   display: inline-block;
   font-size: 14px;
   line-height: 20px;
   color: #555;
   vertical-align: middle;
   border-radius: 4px;
}
.followit label.field-label {
   margin: 0 0 7px 0;
   font-size: 13px;
   color: #999;
   line-height: 1;
   white-space: nowrap;
   display: block;
   clear: left;
   text-align:center;
}

@media only screen and (max-width: 1023px) {
   .followit {width:auto; margin:60px 20px 0 20px; padding:20px;}
   .followit input {width:100%;}
   .followit select {width:100%;}
   .followit .inner a.button {padding:10px 0; width:100%;}
}


.loadingList {
   display: none;
   padding-left:15px;
   color: #0079C2;
   font-weight: bold;
}

